@model  Viettel.Models.QLNH.BaoCaoTHTHDuAnViewModel
@{
    ViewBag.Title = "Báo cáo tình hình thực hiện dự án";
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";
}


@section Styles{
    <link rel="stylesheet" type="text/css" href="~/Content/css/DanhMuc/style.css">
}

<div class="main">
    <div class="panel-list-item col-sm-12">
        <div class="card">
            <div class="card-body" id="lstDataView">
                @Html.Partial("_list", Model)
            </div>
        </div>
    </div>
</div>

@* Modal confirm *@
<div id="divModalConfirm">

</div>

@section Scripts{
    <script src="~/Scripts/QLNH/DuAnHopDong/BaoCaoTinhHinhThucHienDuAn/jsBaoCaoTinhHinhThucHienDuAn.js"></script>
    <script src="~/Scripts/jsNumber.js" type="text/javascript"></script>
    <script>
        var _paging = {};
        $(document).ready(function () {
            _paging.CurrentPage = @Model.ListChiTiet._paging.CurrentPage ;
            _paging.ItemsPerPage = @Model.ListChiTiet._paging.ItemsPerPage ;
        });
    </script>
}