<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net45" />
  <package id="odp.net.managed" version="121.1.2" targetFramework="net40" />
  <package id="Oracle.ManagedDataAccess" version="12.2.20220118" targetFramework="net45" />
  <package id="Oracle.ManagedDataAccess.EntityFramework" version="12.2.20220118" targetFramework="net45" />
  <package id="Oracle.Web" version="12.2.20220118" targetFramework="net45" />
  <package id="Ronz.Oracle.DataAccess" version="4.112.2.0" targetFramework="net40" />
  <package id="Simple.Data.Ado" version="0.19.0.0" targetFramework="net40" />
  <package id="Simple.Data.Core" version="0.19.0.0" targetFramework="net40" />
  <package id="Simple.Data.Oracle.ManagedDataAccess" version="0.19.0.0" targetFramework="net40" />
</packages>